/* =========================
   RESET / BASELINE
   ========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px by default */
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  line-height: 1.6;
  color: #222;
  background: linear-gradient(to right, #00b4db, #0083b0);
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px; /* keeps content from stretching too wide */
  margin: 0 auto; /* centers it horizontally */
  flex-direction: column;
}

.container h1 {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 600;
  margin-top: 10rem;
  line-height: 1.5;
  letter-spacing: -0.5px;
  font-family: "Times New Roman", Times, serif;
}

.website-card {
  max-width: 20rem;
  height: 50vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: linear 0.3s all;
  gap: 2.5rem;
  padding: 5rem;
  border-radius: 12px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset,
    /* subtle top highlight */ 0 18px 30px rgba(10, 10, 10, 0.12);
}

.website-card:first-of-type {
  background-color: black;
}

.website-card:hover {
  transform: translateY(-10px);
}

.website-cards {
  margin-top: 15rem;
  max-width: 1200px;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  max-width: fit-content;
  width: 100%;
  flex-wrap: wrap;
}

.website-image {
  width: 50rem;
}

.website-card a {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 2.4rem;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
}

.website-card:nth-of-type(2) a {
  color: #fff;
}
.website-card:nth-of-type(3) a {
  color: #000;
}
.website-card:nth-of-type(4) a {
  color: #000;
}
.website-card:nth-of-type(5) a {
  color: #f2e4d5;
}

.website-card:nth-of-type(2) {
  background-color: #f8b21c;
}

.website-card:nth-of-type(3) {
  background-color: #4caf4f;
}
.website-card:nth-of-type(4) {
  background-color: #fff;
}

.website-card:nth-of-type(5) {
  background-color: #735130;
}

.website-card ion-icon {
  color: #000;
}
